{{!-- <h1>Cats!</h1> --}}
<header>
<img src="https://media.giphy.com/media/7NXp5l8D4oRsm0XxiK/giphy.gif" alt="burger time!">
<h1>Eat-Da-Burger!</h1>
</header>

{{!-- <h2>Cats that are not sleepy!</h2> --}}
<h2>Burgers that are not eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

  <div>
    <h2>Burgers that are eaten</h2>

    <ul>
      {{#each burgers}}
        {{#if eaten}}
          {{> burgers/burger-block eaten=true}}
        {{/if}}
      {{/each}}
    </ul>
    </div>

<h2>Add a Burger</h2>
{{!-- Will kill that line later --}}
<form class="create-form">

  <div class="form-group">
    
    <input type="text" id="burg" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Submit</button>
</form>



//TODO: change font
